<div class="container-fluid">
    <% if task.errors.any? %>
    <div>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
            <li class="text-danger"><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="form-group row">
        <%= form_with  model: task, local: true do |form| %>

        <div class="field">
            <%= form.text_field :name, class: "form-control", placeholder: Task.human_attribute_name("name") %>
        </div>

        <div class="field">
            <%= form.text_area :description, class: "form-control", placeholder: Task.human_attribute_name("description") %>
        </div>

        <div class="field">
            <%= form.label :status %>
            <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.task.status.#{k}"), k] }, {}, class: "custom-select" %>
        </div>

        <div class="field">
            <%= form.label :priority %>
            <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.task.priority.#{k}"), k] }, {}, class: "custom-select" %>
        </div>

        <div class="field">
            <%= form.label :expired_at %>
            <%= form.datetime_field :expired_at, class: "form-control" %>
        </div>

        <div class="field">
            <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
        </div>

        <%= form.submit "保存", class: "btn btn-success create_task_btn"%>

        <% end %>
    </div>
</div>
