<h1>Tasks#show</h1>
<div>
    <%= @task.name %>
</div>
<div>
    <%= @task.description %>
</div>
<div>
    <%= @task.status_i18n %>
</div>
<div>
    <span class="task_expired_at">
        <%= @task.expired_at %>
    </span>
</div>
<div>
    <span class="task_created_at">
        <%= @task.created_at %>
    </span>
</div>

<%= link_to '編集', edit_task_path(@task) %>
<%= link_to "削除", @task, method: :delete, data: { confirm: "タスクを削除してもよろしいですか？" } %>
<%= link_to '一覧に戻る', tasks_path %>
