<h1>Tasks#show</h1>
<div>
    <%= @task.name %>
</div>
<div>
    <%= @task.description %>
</div>
<div>
    <%= @task.created_at %>
</div>

<%= link_to '編集', edit_task_path(@task) %>
<%= link_to "削除", @task, method: :delete, data: { confirm: "タスクを削除してもよろしいですか？" } %>
<%= link_to '一覧に戻る', tasks_path %>
