<div class="container-fluid">
    <div>
        <%= link_to "ユーザー作成", new_admin_user_path, class: "btn btn-success create_user_btn" %>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>
                <%=User.human_attribute_name("name")%>
            </th>
            <th>
                <%=User.human_attribute_name("email")%>
            </th>
            <th>
                タスク数
            </th>
            <th>
            </th>
        </tr>
        <% @users.each do |user| %>
        <tr class="task_row">
            <td class="user_name"><%= user.name %></td>
            <td class="user_email"><%= user.email %></td>
            <td><%= link_to user.tasks.count, admin_user_tasks_path(user) %></td>
            <td><%= link_to "詳細", admin_user_path(user) %></td>
        </tr>
        <% end %>

    </table>
</div>
